::-webkit-scrollbar{
    width: 20px;
    height: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: cornsilk;
}

::-webkit-scrollbar-track{
    background-color: black;
}

.custom-brand {
    color: white !important;
    font-size: 1.2rem;
    font-weight: 700;
}

.custom-nav {
    color: white !important;
}

.custom-nav:hover{
    color: cornsilk !important; 
    text-decoration: underline;
}

.toggler{
    background-color: white;
}

/* home.html css */
.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;     /* Vertically center the content */
    height: 100vh;           /* Full viewport height */
    
}



.home-container div a {
    border-radius: 8px;
    background-color: darkred;
    color: white !important;
    padding: 10px 20px;
    margin-top: 1rem;
}

.home-container div h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(56, 54, 54);
}

.home-container div p{
    
    font-size: 1.2rem;
    color: rgb(70, 68, 68);
}


/* advert_list.html css */
.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}


.card{
    box-shadow: 1px 1px 20px black !important;
    border-radius: 20px;
}

.card-body a{
    background-color: darkred !important;
    border-radius: 20px;
}

.card img{
    height: 35vh;
    padding: 2px;
    border-radius: 25px;
    max-width: 100%;
}

.row{
    margin-top: 10%;
}



/* media for small screen  */
@media (max-width: 768px) {
    .row {
        justify-content: center; /* Center cards on smaller screens */
        margin-top: 25%;
    }

    .home-container .image-section{
        margin-top: 20px;
    }


}











































