.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}

::-webkit-scrollbar{
    width: 20px;
    height: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: cornsilk;
}

::-webkit-scrollbar-track{
    background-color: black;
}


.custom-brand {
    color: white !important;
    font-size: 1.2rem;
    font-weight: 700;
}

.custom-nav {
    color: white !important;
}

.custom-nav:hover{
    color: cornsilk !important; 
    text-decoration: underline;
}



.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 5rem;
}

.home-container > .image > img{
    height: 60vh;
}

.home-container div button{
    border-radius: 20%;
    background-color: darkred;
    color: white !important;
}

.home-container div button a{
    color: white !important;
}

.home-container div h2{
    font-weight: 700; 
    font-size: 3rem;
    color: rgb(56, 54, 54);
}

.home-container div p{
    /* font-weight: 700;  */
    font-size: 1.2rem;
    color: rgb(70, 68, 68);
}


.card{
    box-shadow: 1px 1px 20px black !important;
    border-radius: 20px;
}

.card-body a{
    background-color: darkred !important;
    border-radius: 20px;
}

.card img{
    height: 35vh;
    padding: 2px;
    border-radius: 25px;
}









/* skills section */
.section{
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
    
   
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

/* .section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    gap: 15px;
    
} */

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
    margin-bottom: 50px;  /* added myself*/
    background-color: yellow;

    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.heading1{
    text-align: center;
    /* background-color: red; */
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px ;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0px;
    
}

.Technical-bars .bar:first-child{
    margin-top: 0px;
}

.Technical-bars .bar:last-child{
    margin-bottom: 0px;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}
 
.Technical-bars .bar .info span{
    font-size:  17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 10px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left; 
    
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}


.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: fillBar 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
}

@keyframes fillBar{
    100%{
        transform: scaleX(1);
    }
}


/* the width the blue colored span will take in the black progress line */
.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 60%;
}

.progress-line.javascript span{
    width: 85%;
}

.progress-line.react span{
    width: 50%;
}

.progress-line.django span{
    width: 75%;
}



.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    border-radius: 4px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards ;
    opacity: 0;
}


/* getting the content that will be written on the span of the progress line either as an attr from the html page or just writing it */
.progress-line.html span::after{
    content: attr(data);
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.javascript span::after{
    content: "85%";
}

.progress-line.react span::after{
    content: "50%";
}

.progress-line.django span::after{
    content: "75%";
} 


.progress-line span::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s  1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}



.radial-bars{
    width: 100%;
    display: flex;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
