{% extends 'adverts/base.html' %}
{% load static %}




{% block content %}
    <div class="row justify-content-center">
        {% for advert in adverts %}
            <div class=" col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="{{ advert.image.url }}" class="card-img-top" alt="{{ advert.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ advert.title }}</h5>
                        <p class="card-text">{{ advert.description }}</p>
                        <a href="{{ advert.link }}" class="btn btn-primary">Go to Link</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
